@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h5>@Model.Message</h5>

<form method="post" class="form-horizontal" name="form1" asp-page-handler="proxy">
    <div class="form-group">
        <label for="BaseUrl" class="control-label col-sm-3">URL</label>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        Use proxy
                    </td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" asp-for="@Model.UseProxy" onclick="document.form1.submit()">
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
<br />
<div class="row">
    <div class="col-lg-1">
        <form asp-page-handler="api" method="post">
            <button class="btn btn-primary">Get</button>
        </form>
    </div>
</div>


<br />
<section id="main">
    Weather Forecast:

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in @Model.Forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
</section>